/* General app styles */

.App {
  text-align: center;
}

/* Navigation styles */

.navBar {
  display: flex;
  font-size: 2rem;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: black;
}